# Part 6

In [5]:
import pandas as pd
import numpy as np

In [6]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10,size=(n_rows,n_cols)),columns=cols)
df

   A  B  C  D  E
0  3  3  3  9  2
1  7  8  1  5  7
2  1  1  4  3  7
3  7  7  1  4  2
4  8  5  2  4  8

# Mengganti nama(label) Untuk Sebuah Kolom Data Frame

In [7]:
df.rename(columns={'C':'Gerry'})

   A  B  Gerry  D  E
0  3  3      3  9  2
1  7  8      1  5  7
2  1  1      4  3  7
3  7  7      1  4  2
4  8  5      2  4  8

# Mengganti Nama(label) Untuk Banyak Kolom DataFrame

In [8]:
df.rename(columns={'A':'Sampi','B':'Mogi','D':'Tikus'})

   Sampi  Mogi  C  Tikus  E
0      3     3  3      9  2
1      7     8  1      5  7
2      1     1  4      3  7
3      7     7  1      4  2
4      8     5  2      4  8