# Part 55

# Import Modules

In [3]:
import pandas as pd
import numpy as np

# Membuat Sebuah Data Frame

In [4]:
n_rows = 10
n_cols = 5
columns = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10,size=(n_rows,n_cols)),columns=columns)
df

   A  B  C  D  E
0  6  7  5  4  3
1  9  4  1  6  4
2  2  3  9  9  7
3  2  3  4  3  1
4  8  4  8  4  3
5  8  3  8  8  9
6  6  8  8  8  7
7  4  9  4  9  6
8  9  7  7  7  7
9  7  9  6  5  7

# Menghitung Jumlah Baris Menurut Kriteria Tertentu

In [5]:
(df['A'] < 5).sum()

3

In [6]:
(df['A'] < 5).mean()

0.3