# part 8

In [6]:
import pandas as pd
import numpy as np

# Persiapan Data Frame

In [7]:
data = {
    "A":[15,15,18,np.nan,12],
    "B":[15,15,18,np.nan,12]
}

df = pd.DataFrame(data)
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

# Mengenal Pandas Series

In [8]:
df['A']

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

In [9]:
type(df.get('A'))

pandas.core.series.Series

In [10]:
type(df)

pandas.core.frame.DataFrame

# Memerika Kesamaan Dengan Operator ==

In [11]:
df['A'] == df['B']

0     True
1     True
2     True
3    False
4     True
dtype: bool

# Memerika Kesamaan Dengan Method equals()

In [13]:
df['A'].equals(df['B'])

True

# Memeriksa Kesamaan Antar Dua Data Frame

In [14]:
df1 = df.copy(deep=True)

df.equals(df1)

True

In [15]:
df == df1

       A      B
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True