# Part 31

In [1]:
import pandas as pd

# Persiapan Data Frame

In [2]:
data = {
    "pelangaan":[11,12,13,14],
    "kepuasaan":['baik','cukup','buruk','cukup']
}

df = pd.DataFrame(data)
df

   pelangaan kepuasaan
0         11      baik
1         12     cukup
2         13     buruk
3         14     cukup

# Tipe Data Ordinal Pada Pandas

In [3]:
from pandas.api.types import CategoricalDtype

tingkat_kepuasaan = CategoricalDtype(['buruk','cukup','baik','sangat baik'],ordered=True)

df['kepuasaan'] = df['kepuasaan'].astype(tingkat_kepuasaan)
df

   pelangaan kepuasaan
0         11      baik
1         12     cukup
2         13     buruk
3         14     cukup

In [4]:
df = df.sort_values('kepuasaan',ascending=True)
df

   pelangaan kepuasaan
2         13     buruk
1         12     cukup
3         14     cukup
0         11      baik

In [6]:
df[df['kepuasaan'] >= 'cukup']

   pelangaan kepuasaan
1         12     cukup
3         14     cukup
0         11      baik