# Part 50

# Import Modules

In [1]:
import pandas as pd

# Membuat Sebuah Data Frame

In [4]:
data = {
    "penjual":["bejo","tejo","wati","bejo","cecep","tejo","wati","bejo"],
    "barang":["monitor","monitor","keyboard","mouse","keyboard","monitor","laptop","monitor"]
}

df = pd.DataFrame(data)
df

  penjual    barang
0    bejo   monitor
1    tejo   monitor
2    wati  keyboard
3    bejo     mouse
4   cecep  keyboard
5    tejo   monitor
6    wati    laptop
7    bejo   monitor

# Membuat Kolom Baru Dengan for loop Dan f-string

In [5]:
cols = ["penjual","barang"]

for col in cols:
    df[f"count_tiap_{cols}"] = df.groupby(col).cumcount() + 1
    
df

  penjual    barang  count_tiap_['penjual', 'barang']
0    bejo   monitor                                 1
1    tejo   monitor                                 2
2    wati  keyboard                                 1
3    bejo     mouse                                 1
4   cecep  keyboard                                 2
5    tejo   monitor                                 3
6    wati    laptop                                 1
7    bejo   monitor                                 4