# Part 30

In [2]:
import pandas as pd
import numpy as np

# Persiapan Data Frame

In [3]:
n_rows = 5
n_cols = 5
columns = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,20,size=(n_rows,n_cols)),columns=columns)
df

    A   B   C   D   E
0  13   4  13  12   5
1  15  15   1   1   3
2   7   8  11  11  16
3  14  10  18   1   6
4  15  18  14  17   8

In [4]:
df.query('A > 10')

    A   B   C   D  E
0  13   4  13  12  5
1  15  15   1   1  3
3  14  10  18   1  6
4  15  18  14  17  8

In [5]:
rerata = df['A'].mean()
rerata

12.8

In [6]:
df.query('A > @rerata')

    A   B   C   D  E
0  13   4  13  12  5
1  15  15   1   1  3
3  14  10  18   1  6
4  15  18  14  17  8