# part 13

In [8]:
import pandas as pd
import numpy as np

In [9]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1,99,size=(n_rows,n_cols)),columns=cols)
df

   usia
0    21
1    93
2    81
3    86
4    55
5     9
6    77
7    90
8    80
9    96

# Pengelompokan Nilai Numerik Ke Dalam Beberapa Kategori Menggunakan cut()

In [10]:
df['kelompok_usia'] = pd.cut(df['usia'],bins = [0,18,65,99],labels = ['anak','dewasa','manula'])
df

   usia kelompok_usia
0    21        dewasa
1    93        manula
2    81        manula
3    86        manula
4    55        dewasa
5     9          anak
6    77        manula
7    90        manula
8    80        manula
9    96        manula