# Part 47

# Import Modules

In [9]:
import pandas as pd

# Membentuk Sebuah Data Frame

In [10]:
data = {
    "nama":["bejo","tejo","wati","tiwi","cecep"],
    "ipk":[2,"3",3,2.75,"3.25"]
}

df = pd.DataFrame(data)
df

    nama   ipk
0   bejo     2
1   tejo     3
2   wati     3
3   tiwi  2.75
4  cecep  3.25

# Deteksi Dan Penanganan Kolom Dengan Tipe Data Beragam (mixed data types)

In [11]:
df.dtypes

nama    object
ipk     object
dtype: object

In [12]:
df['ipk'].apply(type)

0      <class 'int'>
1      <class 'str'>
2      <class 'int'>
3    <class 'float'>
4      <class 'str'>
Name: ipk, dtype: object

In [13]:
df['ipk'].apply(type).value_counts()

<class 'int'>      2
<class 'str'>      2
<class 'float'>    1
Name: ipk, dtype: int64

In [14]:
df['ipk'] = df['ipk'].astype(float)

In [16]:
df['ipk'].apply(type).value_counts()

<class 'float'>    5
Name: ipk, dtype: int64

In [17]:
df.dtypes

nama     object
ipk     float64
dtype: object