# Part 20

In [6]:
import pandas as pd
print(pd.__version__)

1.5.3

# Persiapan Data Frame

In [7]:
d1 = {
    "col1":[1,2,3],
    "col2":[10,20,30]
}

df1 = pd.DataFrame(d1)
df1

   col1  col2
0     1    10
1     2    20
2     3    30

In [8]:
d2 = {
    "col4":[4,5,6],
    "col5":[40,50,60]
}

df2 = pd.DataFrame(d2)
df2

   col4  col5
0     4    40
1     5    50
2     6    60

# Menggabungkan(merge) Data Frame Secara Berdampingan

In [9]:
df = pd.merge(df1,df2,left_index=True,right_index=True)
df

   col1  col2  col4  col5
0     1    10     4    40
1     2    20     5    50
2     3    30     6    60